
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType.Name.ToLower().ToString() == "login" || 
                routeData.PageType.Name.ToLower().ToString() == "portal" || 
                routeData.PageType.Name.ToLower().ToString() == "autodiallogin")
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(RadzenLayout)" />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
