@page "/CustomerInformation"

@using System.Globalization; 
@using CALLSCREEN_UI.Components.CustomerInformation.Models;

<div class="container" style="text-align: center;">
    <h4>Customer Information Details</h4>
    @*<div class="form-group row">
        <div class="col-lg-6">
            <label for="idNumber">ID Number : </label>
            <RadzenTextBox id="idNumber" Placeholder="ID Number" />
        </div>
        <div class="col-lg-6 text-right">
            <label for="name">Firstname & Surname : </label>
            <RadzenTextBox id="name" Placeholder="Firstname & Surname" />
        </div>
    </div>*@

    <div class="form-group row text-center">
        <label class="col-md-3 text-right" for="idNumber">
            ID Number :
        </label>
        <div class="col-md-3 text-right">
            <RadzenTextBox Style="width:100%" id="idNumber" Placeholder="ID Number" />
        </div>
        <label class="col-md-3 text-right" for="name">
            Firstname & Surname :
        </label>
        <div class="col-md-3 text-right">
            <RadzenTextBox Style="width:100%" id="name" Placeholder="Firstname & Surname" />
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 text-center">
            <RadzenTabs Change=@OnChange style="height: 880px; font-size: 12px;">
                <Tabs>
                    <RadzenTabsItem Text="Home Address">
                        @*<div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6 text-right">
                                    <label for="village">Village : </label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <RadzenTextBox id="village" Placeholder="Village" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6 text-right">
                                    <label for="birthdate">Date of Birth : </label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <RadzenTextBox id="birthdate" Placeholder="Date of Birth" />
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <label class="col-md-2 text-right" for="village">
                                Village :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="village" Placeholder="Village" />
                            </div>
                            <label class="col-md-2 text-right" for="birthdate">
                                Date of Birth :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="birthdate" Placeholder="Date of Birth" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="buildingTitle">
                                Building Title :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="buildingTitle" Placeholder="Building Title" />
                            </div>
                            <label class="col-md-2 text-right" for="totalFamily">
                                Total Family :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="totalFamily" Placeholder="Total Family" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="building">
                                Building :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="building" Placeholder="Building" />
                            </div>
                            <label class="col-md-2 text-right" for="expireDate">
                                Expire Date :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="expireDate" Placeholder="Expire Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="floor">
                                Floor :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="floor" Placeholder="Floor" />
                            </div>
                            <label class="col-md-2 text-right" for="sex">
                                Sex M/F :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="sex" Placeholder="Sex" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="addressNumber">
                                Address Number :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="addressNumber" Placeholder="Address Number" />
                            </div>
                            <label class="col-md-2 text-right" for="maritalStatus">
                                Marital Status :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="maritalStatus" Placeholder="Marital Status" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="moo">
                                Moo :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="moo" Placeholder="Moo" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="room">
                                Room :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="room" Placeholder="Room" />
                            </div>
                            <label class="col-md-2 text-right" for="updateUser">
                                Update User :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateUser" Placeholder="Update User" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="soi">
                                Soi :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="soi" Placeholder="Soi" />
                            </div>
                            <label class="col-md-2 text-right" for="updateDate">
                                Update Date :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateDate" Placeholder="Update Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="road">
                                Road :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="road" Placeholder="Road" />
                            </div>
                            <label class="col-md-2 text-right" for="updateTime">
                                Update Time :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateTime" Placeholder="Update Time" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="tambol">
                                Tambol :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="tambol" Placeholder="Tambol" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="amphur">
                                Amphur :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="amphur" Placeholder="Amphur" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="province">
                                Province :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="province" Placeholder="Province" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="postalCode">
                                Postal Code :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="postalCode" Placeholder="Postal Code" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="homeStatus">
                                Home Status :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="homeStatus" Placeholder="Home Status" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="totalRestOn">
                                Total to rest on :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="totalRestOn" Placeholder="Total to rest on" />
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="ID Address">
                        <div class="row">
                            <label class="col-md-2 text-right" for="village">
                                Village :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="village" Placeholder="Village" />
                            </div>
                            <label class="col-md-2 text-right" for="updateUser">
                                Update User :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateUser" Placeholder="Update User" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="buildingTitle">
                                Building Title :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="buildingTitle" Placeholder="Building Title" />
                            </div>
                            <label class="col-md-2 text-right" for="updateDate">
                                Update Date :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateDate" Placeholder="Update Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="building">
                                Building :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="building" Placeholder="Building" />
                            </div>
                            <label class="col-md-2 text-right" for="updateTime">
                                Update Time :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateTime" Placeholder="Update Time" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="floor">
                                Floor :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="floor" Placeholder="Floor" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="addressNumber">
                                Address Number :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="addressNumber" Placeholder="Address Number" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="moo">
                                Moo :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="moo" Placeholder="Moo" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="room">
                                Room :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="room" Placeholder="Room" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="soi">
                                Soi :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="soi" Placeholder="Soi" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="road">
                                Road :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="road" Placeholder="Road" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="tambol">
                                Tambol :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="tambol" Placeholder="Tambol" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="amphur">
                                Amphur :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="amphur" Placeholder="Amphur" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="province">
                                Province :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="province" Placeholder="Province" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="postalCode">
                                Postal Code :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="postalCode" Placeholder="Postal Code" />
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Office Address">
                        <div class="row">
                            <label class="col-md-2 text-right" for="officeName">
                                Office Name :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="officeName" Placeholder="Office Name" />
                            </div>
                            <label class="col-md-2 text-right" for="position">
                                Position :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="position" Placeholder="Position" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="village">
                                Village :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="village" Placeholder="Village" />
                            </div>
                            <label class="col-md-2 text-right" for="businessType">
                                Business Type :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="businessType" Placeholder="Business Type" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="buildingTitle">
                                Building Title :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="buildingTitle" Placeholder="Building Title" />
                            </div>
                            <label class="col-md-2 text-right" for="totalOfficer">
                                Total Officer :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="totalOfficer" Placeholder="Total Officer" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="building">
                                Building :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="building" Placeholder="Building" />
                            </div>
                            <label class="col-md-2 text-right" for="salary">
                                Salary :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="salary" Placeholder="Salary" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="floor">
                                Floor :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="floor" Placeholder="Floor" />
                            </div>
                            <label class="col-md-2 text-right" for="salaryDate">
                                Salary Date :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="salaryDate" Placeholder="Salary Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="addressNumber">
                                Address Number :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="addressNumber" Placeholder="Address Number" />
                            </div>
                            <label class="col-md-2 text-right" for="otherIncome">
                                Other Income :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="otherIncome" Placeholder="Other Income" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="moo">
                                Moo :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="moo" Placeholder="Moo" />
                            </div>
                            <label class="col-md-2 text-right" for="totalWorking">
                                Total Working :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="totalWorking" Placeholder="Total Working" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="room">
                                Room :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="room" Placeholder="Room" />
                            </div>
                            <label class="col-md-2 text-right" for="occupationCode">
                                Occupation Code :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="occupationCode" Placeholder="Occupation Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="soi">
                                Soi :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="soi" Placeholder="Soi" />
                            </div>
                            <label class="col-md-2 text-right" for="department">
                                Department :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="department" Placeholder="Department" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="road">
                                Road :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="road" Placeholder="Road" />
                            </div>
                            <label class="col-md-2 text-right" for="status">
                                Status :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="status" Placeholder="Status" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="tambol">
                                Tambol :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="tambol" Placeholder="Tambol" />
                            </div>
                            <label class="col-md-2 text-right" for="contactTime">
                                Contact Time :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="contactTime" Placeholder="Contact Time" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="amphur">
                                Amphur :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="amphur" Placeholder="Amphur" />
                            </div>
                            <label class="col-md-2 text-right" for="updateUser">
                                Update User :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateUser" Placeholder="Update User" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="province">
                                Province :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="province" Placeholder="Province" />
                            </div>
                            <label class="col-md-2 text-right" for="updateDate">
                                Update Date :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateDate" Placeholder="Update Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="postalCode">
                                Postal Code :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="postalCode" Placeholder="Postal Code" />
                            </div>
                            <label class="col-md-2 text-right" for="updateTime">
                                Update Time :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateTime" Placeholder="Update Time" />
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="References">
                        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="2"
                                    AllowSorting="true" Data="@dataReferences" TItem="ReferencesModel" @ref="@gvReferences">
                            <Columns>
                                <RadzenGridColumn TItem="ReferencesModel" Property="title" Title="References Title" />
                                <RadzenGridColumn TItem="ReferencesModel" Property="name" Title="References Name - Surname" />
                                <RadzenGridColumn TItem="ReferencesModel" Property="relationship" Title="References Relationship" />
                            </Columns>
                        </RadzenGrid>
                        <RadzenButton>References</RadzenButton>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Card Status">
                        <div class="row">
                            <label class="col-md-2 text-right" for="withdrawStatus">
                                Withdraw Status :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="withdrawStatus" Placeholder="Withdraw Status" />
                            </div>
                            <label class="col-md-2 text-right" for="invalidPIN">
                                Time of invalid PIN :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="invalidPIN" Placeholder="Time of invalid PIN" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="cardStatus">
                                Card Status :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="cardStatus" Placeholder="Card Status" />
                            </div>
                            <label class="col-md-2 text-right" for="holdLock">
                                Hold/Lock :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="holdLock" Placeholder="Hold/Lock" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="postalCode">
                                @*Postal Code :*@
                            </label>
                            <div class="col-md-3 text-right">
                                @*<RadzenTextBox Style="width:100%" id="postalCode" Placeholder="Postal Code" />*@
                            </div>
                            <label class="col-md-2 text-right" for="holdLockBY">
                                Hold/Lock By :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="holdLockBY" Placeholder="Hold/Lock By" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right">
                                @*Postal Code :*@
                            </label>
                            <div class="col-md-3 text-right">
                                @*<RadzenTextBox Style="width:100%" id="postalCode" Placeholder="Postal Code" />*@
                            </div>
                            <label class="col-md-2 text-right" for="holdLockAT">
                                Hold/Lock At :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="holdLockAT" Placeholder="Hold/Lock At" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="functionNocheckCurrent">
                                WithDraw Function Nocheck Current :
                            </label>
                            <div class="col-md-8 text-right">
                                <RadzenTextBox Style="width:100%" id="functionNocheckCurrent" Placeholder="WithDraw Function Nocheck Current" />
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="RCL Code">
                        <div class="row">
                            <label class="col-md-3 text-right" for="result">
                                Result :
                            </label>
                            <div class="col-md-8 text-right">
                                <RadzenTextBox Style="width:100%" id="result" Placeholder="Result" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right" for="creditLimitTCL">
                                Credit Limit(TCL) :
                            </label>
                            <div class="col-md-8 text-right">
                                <RadzenTextBox Style="width:100%" id="creditLimitTCL" Placeholder="Credit Limit(TCL)" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right" for="creditAvailableTCA">
                                Credit Available(TCA) :
                            </label>
                            <div class="col-md-8 text-right">
                                <RadzenTextBox Style="width:100%" id="creditAvailableTCA" Placeholder="Credit Available(TCA)" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right" for="paymentAbility">
                                Payment Ability :
                            </label>
                            <div class="col-md-8 text-right">
                                <RadzenTextBox Style="width:100%" id="paymentAbility" Placeholder="Payment Ability" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right" for="ILMessage">
                                IL Message :
                            </label>
                            <div class="col-md-8 text-right">
                                <RadzenTextBox Style="width:100%" id="ILMessage" Placeholder="IL Message" />
                            </div>
                        </div>

                        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="10"
                                    AllowSorting="true" Data="@dataRCLCode" TItem="RCLCodeModel" @ref="@gvRCLCode">
                            <Columns>
                                <RadzenGridColumn TItem="RCLCodeModel" Property="no" Title="No" Width="65px" />
                                <RadzenGridColumn TItem="RCLCodeModel" Property="condition" Title="Condition" />
                                <RadzenGridColumn TItem="RCLCodeModel" Property="pass" Title="Pass" Width="110px" />
                                <RadzenGridColumn TItem="RCLCodeModel" Property="notpass" Title="Not Pass" Width="110px" />
                            </Columns>
                        </RadzenGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Historical Address">
                        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="10"
                                    AllowSorting="true" Data="@dataHistorical" TItem="HistoricalModel" @ref="@gvHistorical">
                            <Columns>
                                <RadzenGridColumn TItem="HistoricalModel" Property="addressCode" Title="Address Code" />
                                <RadzenGridColumn TItem="HistoricalModel" Property="historicalAddress" Title="Historical Address" />
                            </Columns>
                        </RadzenGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="TCL History">
                        <div class="row">
                            <label class="col-md-12 text-left">
                                Start TCL :  28/12/2020
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <label for="date">Date</label>
                                <RadzenTextBox Style="width:100%" id="date" Disabled="true" />
                            </div>
                            <div class="col-md-3 text-left">
                                <label for="tcl">TCL</label>
                                <RadzenTextBox Style="width:100%" id="tcl" Disabled="true" />
                            </div>
                            <div class="col-md-3 text-left">
                                <label for="rlcl">RLCL</label>
                                <RadzenTextBox Style="width:100%" id="rlcl" Disabled="true" />
                            </div>
                            <div class="col-md-3 text-left">
                                <label for="acl">ACL</label>
                                <RadzenTextBox Style="width:100%" id="acl" Disabled="true" />
                            </div>
                        </div>

                        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="10"
                                    AllowSorting="true" Data="@dataTCLHistory" TItem="TCLHistoryModel" @ref="@gvTCLHistory">
                            <Columns>
                                <RadzenGridColumn TItem="TCLHistoryModel" Property="date" Title="Date" />
                                <RadzenGridColumn TItem="TCLHistoryModel" Property="tcl" Title="TCL" />
                                <RadzenGridColumn TItem="TCLHistoryModel" Property="rlcl" Title="RLCL" />
                            </Columns>
                        </RadzenGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Customer Change Data">
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <RadzenButton>Reload</RadzenButton>
                            </div>
                        </div>
                        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="10"
                                    AllowSorting="true" Data="@dataTCLHistory" TItem="TCLHistoryModel" @ref="@gvTCLHistory">
                            <Columns>
                                <RadzenGridColumn TItem="TCLHistoryModel" Property="date" Title="Date" />
                                <RadzenGridColumn TItem="TCLHistoryModel" Property="tcl" Title="TCL" />
                                <RadzenGridColumn TItem="TCLHistoryModel" Property="rlcl" Title="RLCL" />
                            </Columns>
                        </RadzenGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Registration Address">
                        <div class="row">
                            <label class="col-md-2 text-right" for="village">
                                Village :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="village" Placeholder="Village" />
                            </div>
                            <label class="col-md-2 text-right" for="updateUser">
                                Update User :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateUser" Placeholder="Update User" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="buildingTitle">
                                Building Title :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="buildingTitle" Placeholder="Building Title" />
                            </div>
                            <label class="col-md-2 text-right" for="updateDate">
                                Update Date :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateDate" Placeholder="Update Date" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="building">
                                Building :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="building" Placeholder="Building" />
                            </div>
                            <label class="col-md-2 text-right" for="updateTime">
                                Update Time :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="updateTime" Placeholder="Update Time" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="floor">
                                Floor :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="floor" Placeholder="Floor" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="addressNumber">
                                Address Number :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="addressNumber" Placeholder="Address Number" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="moo">
                                Moo :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="moo" Placeholder="Moo" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="room">
                                Room :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="room" Placeholder="Room" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="soi">
                                Soi :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="soi" Placeholder="Soi" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="road">
                                Road :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="road" Placeholder="Road" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="tambol">
                                Tambol :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="tambol" Placeholder="Tambol" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="amphur">
                                Amphur :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="amphur" Placeholder="Amphur" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="province">
                                Province :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="province" Placeholder="Province" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 text-right" for="postalCode">
                                Postal Code :
                            </label>
                            <div class="col-md-3 text-right">
                                <RadzenTextBox Style="width:100%" id="postalCode" Placeholder="Postal Code" />
                            </div>
                        </div>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </div>
    </div>
</div>


<style>
    .ui-tabview-nav {
        flex-wrap: wrap;
    }
    .row {
        padding-bottom: 5px;
    }
    label {
        font-size: 1rem;
    }
</style>


@code {

    public class Employee
    {
        public string Address { get; set; }
        public string City { get; set; }
        public string Region { get; set; }
    }

    IEnumerable<Employee> employees;
    RadzenGrid<Employee> grid;
    int LastPage = 0;

    private RadzenGrid<ReferencesModel> gvReferences;
    private List<ReferencesModel> dataReferences;

    private RadzenGrid<RCLCodeModel> gvRCLCode;
    private List<RCLCodeModel> dataRCLCode;

    private RadzenGrid<HistoricalModel> gvHistorical;
    private List<HistoricalModel> dataHistorical;

    private RadzenGrid<TCLHistoryModel> gvTCLHistory;
    private List<TCLHistoryModel> dataTCLHistory;

    protected override void OnInitialized()
    {
        //employees = dbContext.Employees.ToList();

        //customers = dbContext.Customers.ToList();

        //orders = dbContext.Orders.Include("Customer").Include("Employee").ToList();

        employees = new List<Employee>()
        {
            new Employee { Address = "a1", City = "a2", Region = "a3"},
            new Employee { Address = "b1", City = "b2", Region = "b3"},
            new Employee { Address = "c1", City = "c2", Region = "c3"},
            new Employee { Address = "d1", City = "d2", Region = "d3"},
            new Employee { Address = "e1", City = "e2", Region = "e3"}
        };

        this.dataReferences = new List<ReferencesModel>()
        {
            new ReferencesModel { title = "155:คณ", name = "ยนสงา ดนขงว", relationship = "16:ญาติ" }
        };

        this.dataRCLCode = new List<RCLCodeModel>()
        {
            new RCLCodeModel { no = 1, condition = "Age more than 60 years", pass = "", notpass = "" },
            new RCLCodeModel { no = 2, condition = "AMLO/Black list/Last Contract Brn 911/Working outside service area", pass = "X", notpass = "" },
            new RCLCodeModel { no = 3, condition = "Have status GB/W/O/Re-Finance/Fraud/Legal/IL Flood/Waive Nego", pass = "", notpass = "X" },
            new RCLCodeModel { no = 4, condition = "Payment history had OD3 UP", pass = "", notpass = "" },
            new RCLCodeModel { no = 5, condition = "Payment history is OD1 within 6 months (including present month)/Salary Less than 7,000 Bath ", pass = "", notpass = "" },
            new RCLCodeModel { no = 6, condition = "Present status is Overdue status", pass = "", notpass = "" },
            new RCLCodeModel { no = 7, condition = "TCL Limit = 0", pass = "", notpass = "" },
            new RCLCodeModel { no = 8, condition = "Card status = Hold/Cancel/Flag", pass = "", notpass = "" },
            new RCLCodeModel { no = 9, condition = "Apply without Original salary slip", pass = "", notpass = "" },
        };

        this.dataTCLHistory = new List<TCLHistoryModel>()
        {
            //new TCLHistoryModel { date = new DateTime(04, 02, 2556), tcl = 00, rlcl = 00 },
            //new TCLHistoryModel { date = new DateTime(22, 03, 2554), tcl = 188900, rlcl = 188900 },
            //new TCLHistoryModel { date = new DateTime(04, 02, 2554), tcl = 78600, rlcl = 78600 },
            //new TCLHistoryModel { date = new DateTime(04, 03, 2554), tcl = 110000, rlcl = 110000 }
            new TCLHistoryModel { date = Convert.ToDateTime("20-Feb-2556", new CultureInfo("th-TH")), tcl = 00, rlcl = 00 },
            new TCLHistoryModel { date = Convert.ToDateTime("22-Mar-2554", new CultureInfo("th-TH")), tcl = 188900, rlcl = 188900 },
            new TCLHistoryModel { date = Convert.ToDateTime("04-Feb-2554", new CultureInfo("th-TH")), tcl = 78600, rlcl = 78600 },
            new TCLHistoryModel { date = Convert.ToDateTime("04-Mar-2554", new CultureInfo("th-TH")), tcl = 110000, rlcl = 110000 },
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }

    void OnChange(int index)
    {
        Console.WriteLine($"Tab with index {index} was selected.");
    }

    void GridLoad(GridRenderEventArgs<Employee> e)
    {
        if (e.FirstRender)
        {
            grid.GoToPage(LastPage);
        }
    }
}
